.skillmatrix {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.skillmatrix > h2 {
  font-weight: 500;
  color: #e32b39;
  font-size: 130%;
}

.skillmatrix__filter {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  padding: 1%;
  margin-top: 2.5%;
  border-radius: 10px;
}
.skillmatrix__search {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  padding-left: 0.5%;
  padding-right: 1%;
  padding-top: 0.2%;
  width: 50%;
}
.skillmatrix__search > .MuiSvgIcon-root {
  color: #e32b39;
  height: 20px;
}
.skillmatrix__search > input {
  flex: 1;
  border: none;
  outline: none;
  padding: 4% 5%;
  border-radius: 20px;
  font-size: 12px;
}
.skillmatrix__search > input:focus {
  outline: none;
}
.skillmatrix__label {
  margin-left: 5%;
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 90%;
}
.skillmatrix__label > label {
  color: gray;
  margin-right: 5%;
}
.skillmatrix__label > input {
  flex: 1;
  border: none;
  height: 25px;
  outline: none;
}

.skillmatrix__button {
  margin-left: 5% !important;
  font-size: 75% !important;
}
.skillmatrix__table {
  margin-top: 4%;
}
.skill__dropdown{
  flex: 1;
  margin: 2.5%;
  padding: 4% 4%;
  border: none;
  outline-width: 0;
  border-radius: 20px;
  background-color: white;
  color: gray;
  font-size: 90%;
}